body {
  background-image: linear-gradient(to right, #e4f07e, #e7d19f);
  font-family:"Press Start 2P", cursive;
  font-size: 25px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: rgb(7, 7, 7);
  text-align: center;
  height: 100%;
}
.heading {
  color: rgb(236, 93, 93);
  text-shadow:-5px 0 #080807, 0 5px #070706, 5px 0#0a0a09, 0 -5px#070705;
  text-align: center;
  font-family: "Press Start 2P", cursive;
  font-size: 40px;
}
.playerName{
  background-color:hsl(2, 45%, 71%);
  padding: 50px 0 0 0;
  margin:1rem 4rem 1rem 30rem;
  width: 50%;
  height:20%;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-family: "Press Start 2P", cursive;
  z-index: 100;
}
#Name{
  padding: 1rem;
  border-style: solid;
  width: 40%;
}
#score {
  color: black;
  font-family: "Press Start 2P", cursive;
}
.gamearea{
  margin: 100px auto;
  width: 80%;
  text-align: center;
}
.bulb {
   height: 100px;
  width: 100px;
  color: white;
  box-shadow: 0 0 3px 5px #333;
  border-radius: 50%;
  display: inline-block;
  margin: 1rem;
  box-shadow: black;
}
img{
  height: 100px;
  width: 100px;
}

button {
  font-family:"Press Start 2P", cursive;
  background-color:#ece3e8;
  font-size: 20px;
  padding: 1rem;
  margin: 0 auto;
}
#gameResult{
  visibility: hidden;
  position: fixed;
  top:0;
  left:0;
   width: 100%;
  height: 30%;
  color: rgba(7, 0, 0, 0.5);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gameOver{
  background-color:transparent;
  padding: 100px 0 0 0;
  width: 40%;
  height:20%;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  position: relative;
  font-family: "Press Start 2P", cursive;
  margin-top: 50rem;
  margin-left: 8rem;
}

.gameover button {
  background-color: transparent;
  position: absolute;
  top: 0px;
  right: 0px;
  outline: none;
}

#displayScore {
  font-size: 24px;
  color: #333;
}
