<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='//fonts.googleapis.com/css?family=Roboto:200,400,600' rel='stylesheet' type='text/css'>
    <title>Animation</title>
    <link rel="stylesheet" href="animation.css">
</head>
<body>
    <div class="history-tl-container">
        <div class="heading">
        <h1>My Timeline</h1>
    </div>
      <ul class="tl">
        <li class="tl-item" ng-repeat="item in retailer_history">
          <div class="timestamp">
           2 June 2006
          </div>
          <div class="item-title">BTech </div>
          <div class="item-detail">Bachelors of engineering in Instrumentation & Control completed.</div>
        </li>
        <li class="tl-item" ng-repeat="item in retailer_history">
          <div class="timestamp">
           7 July 2006
          </div>
          <div class="item-title">Lecturer</div>
          <div class="item-detail">Started working as lecturer in engineering college,Indore</div>
        </li>
        <li class="tl-item" ng-repeat="item in retailer_history">
          <div class="timestamp">
           8 July 2008
          </div>
          <div class="item-title">Instrumentation Engineer</div>
          <div class="item-detail">Worked as Instrumentation engineer in Reliance Industries Limited. </div>
        </li>
        <li class="tl-item" ng-repeat="item in retailer_history">
            <div class="timestamp">
              26 June 2010
           </div>
            <div class="item-title">Manager</div>
            <div class="item-detail">Promoted as Instrumentation Manager of MEG plant.</div>
          </li>
          <li class="tl-item" ng-repeat="item in retailer_history">
            <div class="timestamp">
              15 April 2015
            </div>
            <div class="item-title">Finnish Language</div>
            <div class="item-detail">Started learing Finnish langauge, as a part of integration program.</div>
          </li>
          <li class="tl-item" ng-repeat="item in retailer_history">
            <div class="timestamp">
              2 April 2016
            </div>
            <div class="item-title">Finnish Language proficiency test</div>
            <div class="item-detail">Successfully completed YKI test.</div>
          </li>
          <li class="tl-item" ng-repeat="item in retailer_history">
            <div class="timestamp">
              15 Aug 2016
            </div>
            <div class="item-title">Pedagogical Studies</div>
            <div class="item-detail">Luksia ammattikoulu</div>
          </li>
          <li class="tl-item" ng-repeat="item in retailer_history">
            <div class="timestamp">
              22 Aug 2017
            </div>
            <div class="item-title">Finnish School</div>
            <div class="item-detail">Working as a assistant teacher in finnish school</div>
          </li>
          <li class="tl-item" ng-repeat="item in retailer_history">
            <div class="timestamp">
             12 Aug 2020
            </div>
            <div class="item-title">Aalto open university</div>
            <div class="item-detail">Completed web development & programming course</div>
          </li>
          <li class="tl-item" ng-repeat="item in retailer_history">
            <div class="timestamp">
              7 Jan 2021
            </div>
            <div class="item-title">Helsinki Buisness College</div>
            <div class="item-detail">Studying fullstack development</div>
          </li>
    
      </ul>
    
    </div>
</body>
</html>